@import "tailwindcss";

:root {
  --primary: white;
  --second: #171717;
  --three: red;
}

@theme inline {
  --color-primary: var(--primary);
  --color-second: var(--second);
  --color-three: var(--three);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--primary);
  color: var(--second);
  font-family: Arial, Helvetica, sans-serif;
}
